* {
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  behavior: smooth;
}

body {
  background: #222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
  max-width: 110rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
  padding: 2rem;
}
.container img {
  max-width: 100%;
  object-fit: cover;
  width: 30rem;
  height: 30rem;
  opacity: 0.7;
  filter: blur(0.1rem);
  transition: all 0.25s ease;
  transform: scale(1);
  cursor: pointer;
}
.container img:hover {
  opacity: 1;
  filter: blur(0);
  transform: scale(1.15);
  outline: 0.4rem solid #fff;
}

.backToTop {
  position: fixed;
  bottom: 5rem;
  right: 2rem;
  width: 0rem;
  height: 0rem;
  border: 6rem solid transparent;
  border-bottom-color: #fff;
  cursor: pointer;
  opacity: 0;
}

.heading__primary {
  color: #222;
  font-size: 8rem;
  margin-top: 3rem;
  animation: animated-heading 4s ease infinite;
}
@media (max-width: 600px) {
  .heading__primary {
    font-size: 6rem;
  }
}
@media (max-width: 510px) {
  .heading__primary {
    font-size: 5rem;
  }
}

@keyframes animated-heading {
  0% {
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 0.1rem;
  }
  50% {
    -webkit-text-stroke-color: #222;
    -webkit-text-stroke-width: 0.1rem;
    color: #fff;
  }
  100% {
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 0.1rem;
  }
}
.heading__secondary {
  font-size: 2.5rem;
  font-style: italic;
  color: #fff;
  margin-bottom: 3rem;
  text-shadow: 0 0 1rem #fff, 0 0 3rem #fff, 0 0 6rem #fff;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
#overlay #newImage {
  width: 60rem;
  height: 60rem;
  outline: 0.4rem solid #fff;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.7);
  transform: scale(1);
  filter: blur(0);
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
